
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5DDD5;
}

.whats {
    max-width: 375px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid #DDD;
}

.whatsap__encabezado {
    background-color: #075E54;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whatsap__menuopciones {
    display: flex;
    justify-content: space-around;
    background-color: #128C7E;
    padding: 10px;
}

.whatsap__opciones {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    padding: 5px;
}

.whatsap__opciones i {
    margin-left: 5px;
}

.whatsap__contenido {
    height: 500px; 
    overflow-y: auto;
}


.whatsap__seccion {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.whatsap__seccion:target {
    display: block;
    opacity: 1;
}

.whatsap__seccion.active {
    display: block;
    opacity: 1;
}


.whatsap__chat {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #DDD;
}

.whatsap__fotoperfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.whatsap__texto {
    flex: 1;
}

.whatsap__nombrechat {
    font-size: 14px;
    margin: 0;
}

.whatsap__mensajechat {
    font-size: 12px;
    color: #666;
    margin: 0;
}

.whatsap__horamensaje {
    font-size: 12px;
    color: #999;
    text-align: right;
}

.whatsap__estado {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #DDD;
    align-items: center;
}

.whatsap__nombreestado {
    font-size: 14px;
    margin: 0;
}

.whatsap__horaestado {
    font-size: 12px;
    color: #999;
    margin: 0;
}

.whatsap__estado .whatsap__fotoperfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #128C7E; 
}
.whatsap__llamada {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #DDD;
    align-items: center;
    justify-content: space-between;
}

.whatsap__nombrellamada {
    font-size: 14px;
    margin: 0;
}

.whatsap__detallellamada {
    font-size: 12px;
    color: #999;
    margin: 0;
}

.whatsap__detallellamada i {
    margin-right: 5px;
}

.whatsap__llamada .whatsap__fotoperfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.whatsap__iconollamada {
    font-size: 20px;
    color: #128C7E;
}
