* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

.fondo_verde{
width: 469px;
height: 90vh;
/* border: solid white 1px; */
margin: 30px auto;
background-color: rgb(0, 0, 0);
/* border: 1px solid #000; */
border-radius: 20px 20px 0 0;
color: white;
display: flex;

}

.encabezado-wsp{

width: 450px;
height: 50px;
padding: 10px;
background-color: green;
display: flex;
justify-content: space-between;
align-items: center;
color: white;
border-radius: 20px 20px 0 0;
flex-direction: column;

}
.encabezado-wsp-tituloz{

font-size: 20px;
font-weight: bold;
  
}
.encabezado-wsp-icon{

cursor:pointer;
 text-align: end;
  

}
.enc-menu{

    display: flex;
    width: 469px;
    height: 50px;
    /* padding: 5px; */
    background-color: green;
    /* box-shadow: 0px 2px 2px black; */
    

  
}
.Enc-menu_opciones{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    /* font-weight: bold; */
    color: black;
   text-decoration: none;

}
.chat_cover{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid blue;
    background-color: white;
    /* margin-bottom: 5px; */
    /* border-radius: 8px; */

}
.nombre{
    color: black;
}
.chat_cover-mensaje{
    color: black;
    justify-content: space-evenly;




}