
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    height: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #007f6a; */
}
:root{
    --verde__whatsap:#007f6a;
    --verde__claro:#badcd5;
}
.whatsap{
    position: relative;
    border: solid 1px;
    display: flex;
    width: 390px;
    margin: 40px auto;
    height: 90vh;
    background-color: var(--verde__whatsap);
    border-radius: 20px;
    /* padding: 20px; */
    flex-direction:column;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    
}
.whatsap__nombre{
    display: flex;
    align-items: center;
    /* height: 40px; */
    width: 75;
    color: var(--verde__claro);
    font-size: 30px;
}

.whatsap__encabezado{
    margin-top:20px ;
    padding-left: 20px;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: var(--verde__whatsap);
    align-items: center;
    color: var(--verde__claro);

}

.whatsap__iconos{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: end;
    padding: 10px;
    font-size: 25px;
    padding-bottom: 10px;
}

.whatsap__menuopciones{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--verde__whatsap);
    align-items: stretch;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 5px 0px 5px;
    overflow-y: auto;

}

.whatsap__opciones, 
#whatsap__opciones{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    align-content: center;
    border-bottom: solid 3px var(--verde__whatsap);
    color: var(--verde__claro);
}

#whatsap__iconodenum{
    margin-left: 5px;
}

.whatsap__opciones:hover,
#whatsap__opciones:hover{
    border-bottom:solid 3px var(--verde__claro) ;
}
#whatsap__opciones{
    width: 80px;
}

.whatsap__chats{
    display: flex;

    width: 400px;
    height: 95%;
    background-color: white;
    flex-direction: column;
    overflow-y: scroll;
}

.whatsap__chat{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: white;
    align-content: center;
    justify-content:space-around ;
    padding: 5px;
    border-bottom: solid 1px #c2c2c2 ;
}
.whatsap__chat:hover{

    background-color: beige;


}

.whatsap__fotoperfil{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.whatsap__chattex{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.whatsap__nombrechat{
    font-size: 18px;
}
.whatsap__horamensaje{
    font-size: 12px;
}
.whatsap__horamen{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--verde__whatsap);
}

#whatsap__cantmen{
    font-size: 20px;
}

#whatsap__logonuevochat{
    display: flex;
    background-color: var(--verde__whatsap);
    width: 50px;
    height: 50px;
    font-size: 22px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    right: 830px;
}

.whatsap__estados{
    display: flex;
    /* position: relative; */
    flex-direction: column;
    width: 400px;
    height: 95%;
    background-color:white;
    flex-direction: column;
    overflow-y: scroll;
    padding: 5px;
}

.whatsap__pestañas{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1200px;
    height: 95%;
    overflow-y: scroll;
    /* overflow:hidden ; */
}

.whatsap__llamadas{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    width: 400px;
    height: 95%;
    background-color:white;
    flex-direction: column;
    padding: 5px;
    overflow-y: scroll;
}

.whatsap__añadir__estado{
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: white;
    height: 65px;
    width: 100%;
    align-items: center;
}
.whatsap__añadir__estado:hover{

    background-color: beige;

}

.whatsap__mifotoestado{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 5px;
}
.whatsap__texmiestado{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-bottom: 6%;
    
}

.whatsap__texestadosnuev{
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 2px 0px 2px 0px;
    align-items: center;
    padding-bottom: 6%;
}
.whatsap__estadonuevo:hover{

    background-color: beige;

}

.whatsap__estadonuevo{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 65px;
    width: 100%;
    align-items: center;
    margin: 2px 0px 2px 0px;
}
.whatsap__estadnuetex{
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6%;
    font-size: 14px;
}

.whatsap__fotoestadnue{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 5px;
    border: solid 3px green;
    padding: 2px;
}
.whatsap__estadovisualizado{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 65px;
    width: 100%;
    align-items: center;
    margin: 2px 0px 2px 0px;
}

.whatsap__p_estadovisualizado{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 5px;
    border: solid 3px gray;
    padding: 2px;
}

.whatsap__letrasestadovisua{
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6%;
    font-size: 14px;
}
.whatsap__texestadosvis{
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 2px 0px 2px 0px;
    align-items: center;
    padding-bottom: 6%;
}
.whatsap__mas{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 40px;
    bottom: 10px; 
    height: 20px;
    width: 20px;
    background-color:#007f6a;
    color: white;
    padding-bottom: 3%;
    text-align: center;
    border-radius: 50%;
    border: solid 1px white;
}


.whatsap__crearlinkllam{
    display: flex;
    flex-direction: row;
    height: 65px;
    width: 100%;
    margin: 5px 5px 5px 5px;
    background-color: white;
    align-items: center;
}

#whatsap__inconolink{
    display: flex;
    flex-direction: row;
    height: 55px;
    width: 55px;
    background-color: #007f6a;
    border-radius: 50%;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    margin-right: 5px;
}

.whatsap__textcreallamada{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-bottom: 6%;
}

#whatsap__imgbianca{
    display: flex;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 2px;
}

.whatsap__llamadarecientetex{
    display: flex;
    height: 30px;
    width: 100%;
}

.whatsap__texllam{
    display: flex;
    flex-direction: column;
    height: 65px;
    padding-top: 2%;
}

.whatsap__llamada{
    display: flex;
    flex-direction: row;
    height: 65px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
}
.whatsap__llamada:hover{

    background-color: beige;

}

#whatsap__flechallamsal{
    height: 20px;
    width: 20px;
    color: red;
}

.whatsap__flechahora{
    display: flex;
    flex-direction: row;
    height: 20px;
}

#whatsap__icontelefono{
    height: 30px;
    width: 30px;
    color: green;
    margin-left: 20%;
    font-size: 20px;
}

#whatsap__camaraestados{
    display: flex;
    background-color: var(--verde__whatsap);
    color: white;
    width: 50px;
    height: 50px;
    font-size: 22px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    left: 710px;
}

#whatsap__Lapizestados{
    display: flex;
    background-color: rgb(230, 223, 223);
    color: black;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 110px;
    left: 715px;
}

#whatsap__nuevallam{
    display: flex;
    background-color: var(--verde__whatsap);
    color: white;
    width: 50px;
    height: 50px;
    font-size: 22px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    left: 1100px;
}

.whatsap__interfazchats{
    display: none;
}

.whatsap__interfazestados{
    display: none;
}

.whatsap__interfazllam{
    display: none;
}

#whatsap__interfazchats:checked ~ .whatsap__pestañas {
    left: 0px; /* Asegura que "Chats" esté visible */
    transition: all 1s ease-in-out;
}

#whatsap__interfazestados:checked ~ .whatsap__pestañas {
    left: -390px; /* Desplaza "Estados" a la posición visible */
    transition: all 1s ease-in-out;
}

#whatsap__interfazllam:checked ~ .whatsap__pestañas {
    left: -780px; /* Desplaza "Llamadas" a la posición visible */
    transition: all 1s ease-in-out;
}


/* .whatsap__contenedorpest{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 2200px;
    height: 95%;
} */